<h1>Data Binding</h1>
<p>
  Data Binding in angula is that bind the data of the ts class in the Html file
  and make it more dynamic . There are many ways of data binding in angular
</p>
<h2>Data binding ways</h2>
<ul>
  <li>String iterpolation</li>
  <li>Property binding</li>
  <li>string intepolation vs data bindings</li>
  <li>Event Binding</li>
</ul>
<p>{{ 1 + 1 }} String interpolations example</p>
<button [disabled]="enb">Property Bindings</button>
<p [innerText]="'Hello this is inner text binding property'"></p>
<h2>Event bindings example</h2>
<p>
  we see the propert binding and string interpolation now we check tht we click
  on the button and
</p>
<button (click)c="enable()">enable button</button>
<input type="text" name="" id="" (input)="oninput($event)" />
<h2>2 way binding</h2>
<input type="text" name="" [(ngModel)]="val" id="" />
<p>You intered :{{ val }}</p>
<h2>Assignment</h2>
<input [(ngModel)]="name" />
<p>Your name is: {{ name }}</p>
<button disabled="name===''" (click)="clear()">Clear name</button>
