.buttons{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.buttons button{
    background-color: blue;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
}
.buttons button a{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: #fff;
    
}