<h1>Welcome to Angular udemy complete course</h1>
<p>
  In this course we learn the basic to advance of the angular . and also make
  the super real world prject of recipie app
</p>
<h2>Main Sections link</h2>
<p>
  These are the main section of this course click any one button to go and read
  and see the material about this course
</p>
<div class="buttons">
  <button><a routerLink="sections/01/Basics">Get Started</a></button>
  <button><a routerLink="sections/02/data-binding">Data Binding </a></button>
</div>
<router-outlet></router-outlet>
